{{> navigation }}

<div class="center-wrapper">
    <h1>You have submitted the form with following information:</h1>

    <br />

    <p><em><b>First name:</b></em> {{ firstName }}</p>
    <p><em><b>Last name:</b></em> {{ lastName }}</p>
    <p><em><b>E-mail:</b></em> {{ email }}</p>
    <p><em><b>Company:</b></em> {{ company }}</p>
    <p><em><b>Phone:</b></em> {{ phone }}</p>
    <p><em><b>Message:</b></em> {{ message }}</p>

    <br />

    <button onclick="history.back(-1)">Return</button>
</div>